{% extends 'base.html.twig' %}

{% block body %}
    <h1>Banques list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for banque in banques %}
            <tr>
                <td><a href="{{ path('banque_show', { 'id': banque.id }) }}">{{ banque.id }}</a></td>
                <td>{{ banque.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('banque_show', { 'id': banque.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('banque_edit', { 'id': banque.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('banque_new') }}">Create a new banque</a>
        </li>
    </ul>
{% endblock %}
